<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event">

  <insert id="insert">
  	insert into schedule values(seq_event.nextval, #{ename}, #{edate})
  </insert>

  <select id="listAll" resultType="eventVo">
    select * from schedule
  </select>
</mapper>